{% extends 'admin_home.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="add_bk1" enctype="multipart/form-data">
  <table class="table table-bordered table-dark">
    <tr>
      <th scope="row">book NAME </th>
      <td><label>
        <input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">AUTHOR </th>
      <td><label>
        <input type="text" name="textfield2" pattern="[A-Z a-z.]{1,25}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">BOOK FILE  </th>
      <td><label>
        <input type="file" name="file" required  />
      </label></td>
    </tr>

    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Submit" />
      </label></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
